[Unit]
Description=GZH Admin Backend Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/app/gzh/admin-service
ExecStart=/bin/bash -c 'source /root/app/gzh/.env && exec /usr/bin/java -Xms256m -Xmx512m -Dfile.encoding=UTF-8 -jar blogger-backend-1.0.0.jar --spring.profiles.active=prod'
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
